<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_poker_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2526},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2105},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1684},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1263},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,3367},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,2947},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,2526},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,2105},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1684},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1263},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,842},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,421},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,0},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,3363},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,2942},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,2522},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,2102},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1682},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1262},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,842},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,421},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,3365},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,2944},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,2523},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,2102},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1681},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1260},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,840},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,420},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2947},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2947},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2526},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,2105},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1684},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1263},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,842},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,421},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,3363},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,2943},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,2523},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,2103},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1683},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1263},{300,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,419}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,842},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,421},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>img_poker_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3367},{300,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,420}}</string>
				<key>sourceSize</key>
				<string>{300,420}</string>
			</dict>

			<key>loss_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,3368},{296,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{296,420}}</string>
				<key>sourceSize</key>
				<string>{296,420}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>textureFileName</key>
			<string>poker.png</string>
			</dict>
		</dict>
</plist>